@media screen and (max-width: 760px) {
    
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 50px;
        text-align: center;
    }

    span {
        display: inline-block;
        line-height: 40px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }
}